body {
    background-color: #DFD3C3;
    display: flex;
    justify-content: center;
}

.center {
    align-items: center;
    position: relative;
}

#map, #timeline {
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
}